html {
    height: 100vh;
}
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    // .calculator__diplay
    background-color: rgba(0, 0, 0, 0.6);
    border: 5px solid rgba(0, 0, 0, 0.6);
    height: 450px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;

    &__diplay {
    }

    // .calculator__buttons

    &__buttons {
        width: 100%;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
    }
}
.display {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 120px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;

    // .display__item

    &__item {
        box-sizing: border-box;
        padding: 5px;
        text-align: end;
        word-wrap: break-word;
        word-break: break-all;
    }

    // .display__item_output

    &__item_output {
        font-size: 1.9rem;
        color: rgba(0, 0, 0, 0.7);
    }

    // .display__item_input

    &__item_input {
        font-size: 2.5rem;
    }
}

.button {
    display: block;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: bisque;
    border-radius: 10px;
    width: 25%;
    height: 20%;
    padding: 0;
    margin: 0;
    font-size: 2rem;

    &:hover {
        filter: brightness(0.9);
    }

    &:active {
        transform: scale(0.95);
        transition: transform 0.1s ease-in;
    }

    // .button_double

    &_double {
        width: 50%;
        background-color: aquamarine;
    }

    // .button_operation-AC

    &_operation-AC {
    }

    // .button_operation-delete

    &_operation-delete {
    }

    // .button_operation

    &_operation {
    }

    // .button_number

    &_number {
    }

    // .button_symbol-point

    &_symbol-point {
    }

    // .button_operation-calculate

    &_operation-calculate {
    }
}
